* text=auto !eol
bin/stageManager -text
etc/actorcore.module -text
etc/config.ini -text
etc/stageManager.cfg -text
python/actorcore/Actor.py -text
python/actorcore/CmdrConnection.py -text
python/actorcore/Command.py -text
python/actorcore/CommandLink.py -text
python/actorcore/CommandLinkManager.py -text
python/actorcore/Commands/CoreCmd.py -text
python/actorcore/Commands/__init__.py -text
python/actorcore/ICC.py -text
python/actorcore/ICCExceptions.py -text
python/actorcore/TestHelper.py -text
python/actorcore/__init__.py -text
python/actorcore/help.py -text
python/actorcore/utility/__init__.py -text
python/actorcore/utility/fits.py -text
python/actorcore/utility/svn.py -text
/setup.py -text
ups/actorcore.table -text
