* text=auto !eol
python/actorcore/CmdrConnection.py -text
python/actorcore/Command.py -text
python/actorcore/CommandLink.py -text
python/actorcore/CommandLinkManager.py -text
python/actorcore/ICC.py -text
python/actorcore/__init__.py -text
/setup.py -text
ups/actorcore.table -text
