[isort]
line_length = 79
sections =
	FUTURE
	STDLIB
	THIRDPARTY
	FIRSTPARTY
	LOCALFOLDER
default_section = THIRDPARTY
known_first_party = actorcore
known_third_party = opscore
# multi_line_output = false
balanced_wrapping = true
include_trailing_comma = false
; length_sort_stdlib = 0
lines_after_imports = 2
use_parentheses = true
